/*----LANDING------*/

.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.landing-button{
  position: fixed;
  bottom: 18vh;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  
}

.landing-button a{
  padding: 0.4em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-size: 1.9rem;
  font-family: "aquavit", sans-serif;
  font-weight: 1000;
  letter-spacing: 0.05rem;
  color: #f1f1f1;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background:rgba(225, 225, 225, 0.4);
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
  border-color: rgba(225, 225, 225, 0.3);
  text-decoration: none;

}
.landing-button :active{
  background:rgba(114, 114, 114, 0.2);
}
.landing-button p{
  pointer-events: none;
}
.landing-button p:active{
  color: rgb(172, 172, 172);
}
