* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page {
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
}


body {
  font-family: "hanken-grotesk",system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #fff;
  font-weight: 500;
  color: #111;
  line-height: 1.5;
  
}

header {
  padding: 1.5rem;
  border-bottom: 1px solid #eee;
  z-index: 999;
}

main {
  padding: 1rem;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 1.8rem;
    font-family: 'aquavit', sans-serif;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-family: 'aquavit', sans-serif;
}

.content {
  min-height: 100vh;
  padding: 24px;
  color: white; 
}

button{
  font-weight: 800;
  padding: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 1.3rem;
}
.btn{
  font-weight: 800;
  padding: 0.4em;
  padding-top: 0.2em;
  font-size: 1.3rem;
  font-family: 'aquavit', sans-serif;
  color: #221811;
}


.haiku-banner{
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 20vh;
  height: 15vw;
  display: flex;
  z-index: 20;
  justify-content: center;
}
.haiku-banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Disable text selection */
.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Remove mobile tap highlight */
.no-tap {
  -webkit-tap-highlight-color: transparent;
}


.navlinks{
  height: fit-content;
  position: fixed;
  inset: auto 0 0 0; /* top right bottom left */
  height: auto;
  bottom: 0px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 2px;
  border-color: rgb(255, 253, 251);
  
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  font-family: "aquavit";
}
.navlinks a{
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #fff5e4;
  text-decoration: none;
  color: #202738;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.navlinks .active{
  background-color: #f8d3a8;
}
.navlinks :active{
  background-color: #f8d3a8;
}
.navlinks a{
  -webkit-tap-highlight-color: transparent;
}
.navlinks a::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0%;
  height: 100%;
  width: 2px;
  background: #fffff5;
}
.navlinks a:last-child::after{
  display: none;
}


.navlinks h2{
  text-align: center;
  font-size: 4vw;
  margin-bottom: -0.1rem;
}
.navlinks img{
  height: 7vw;
  width: 7vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

