/*---------GUIDE-----------*/

.guide{
  height: fit-content;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  margin-top: -2.8vh;
  background-color: #fff5e4;
  border-style: solid;
  border-width: 0px;
  border-top-width: 4px;
  border-color: rgb(212, 125, 67);
}
.guide h1{
    text-align: center;
    font-size: 1.91em;
    padding-bottom: 0.2em;
}
.guide h2{
    font-size: 1.7em;
    padding-top: 0.3em;
}
.guide li{
  margin-left: 4vw;
  padding-bottom: 1em;
}
.guide-body{
     background-color:rgb(255, 255, 255);
}